table.tabTemp {
 font-family: "Times New Roman", Times, serif;
 border: 1px solid #FFFFFF;
 width: 350px;
 height: 200px;
 text-align: center;
 border-collapse: collapse;
}
table.tabTemp td, table.tabTemp th {
 border: 1px solid #FFFFFF;
 padding: 3px 2px;
}
table.tabTemp tbody td {
 font-size: 13px;
}
table.tabTemp tr:nth-child(even) {
 background: #D0E4F5;
}
table.tabTemp thead {
 background: #0B6FA4;
 border-bottom: 5px solid #FFFFFF;
}
table.tabTemp thead th {
 font-size: 17px;
 font-weight: bold;
 color: #FFFFFF;
 text-align: center;
 border-left: 2px solid #FFFFFF;
}
table.tabTemp thead th:first-child {
 border-left: none;
}

table.tabTemp tfoot {
 font-size: 14px;
 font-weight: bold;
 color: #333333;
 background: #D0E4F5;
 border-top: 3px solid #444444;
}
table.tabTemp tfoot td {
 font-size: 14px;
}